body {
  background-color: black;

}

.wrapper {
  background-color: white;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  border: 10px solid silver;
}

header {
  background-color: rgb(216, 216, 216);
  padding: 1rem;
  border: 2px solid rgb(177, 58, 58);
  border-radius: 1rem;
}

header h1 {
  font-size: 175%;
  border-bottom: 1px solid black;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

header h2 {
  font-weight: normal;
  font-size: 110%;
}

main {
  margin-top: 1rem;
  font-size: 125%;
  line-height: 1.3;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main li {
  margin: 0 0 .75rem 1rem;
}

.signature {
  text-align: right;
}