nav {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6vw;
  color: #000000;
}

nav ul li img {
  width: 10vw;
}

nav ul li a {
  text-decoration: none;
  color: #820404;
}

nav ul li :hover,
nav ul li :focus,
nav ul li :active {
  opacity: 0.5;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 -8px;
}

.header__content img {
  width: 100%;
}

.header__content .content {
  position: absolute;
  z-index: 1;
  color: white;
}

.header__content .content p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 150%;
  color: #FFFFFF;
}

.header__content .content h1 {
  font-family: 'Tenor Sans';
  font-weight: 400;
  font-size: 4.3vw;
  color: #F6F6F6;
}

/* 1-page STARTS */
.reason h1 {
  text-align: center;
  margin: 5vw 0;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 4.3vw;
  line-height: 150%;
  color: #57463A;
}

.reason .reason-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  padding: 0 5vw;
}

.reason .reason-fact {
  padding: 3vw 2vw;
}

.reason .reason-fact h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 150%;
  color: #323232;
}

.reason .reason-fact hr {
  border: 1px solid #715B4B;
  background-color: #715B4B;
  margin: 0.8vw 0 1vw;
}

.reason .reason-fact p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 150%;
  color: #323232;
}



.info__us {
  margin: 10vw;
}

.info__us h1 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 4.6vw;
  line-height: 150%;
  text-align: center;
  color: #57463A;
  padding-bottom: 3vw;
}

.info__us p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 150%;
  color: #323232;
}

.info__us img {
  width: 45vw;
  height: 25vw;
  margin-top: 5vw;
  margin-left: 15vw;
  border: 3px solid #715B4B;
  border-radius: 2vw;
}

/*FOOTER STARTS*/
footer {
  display: flex;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #851111;
  justify-content: space-evenly;
  text-transform: uppercase;
}

footer .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .address p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 150%;
  color: #F6F6F6;
}

footer .address p :hover,
footer .address p :focus,
footer .address p :active {
  opacity: 0.75;
}

footer .pages-1-3 {
  display: flex;
  flex-direction: column;
}

footer .pages-1-3 p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 150%;
  color: #F6F6F6;
}

footer .pages-1-3 p a {
  text-decoration: none;
  color: #F6F6F6;
}

footer .pages-1-3 p :hover,
footer .pages-1-3 p :focus,
footer .pages-1-3 p :active {
  opacity: 0.75;
}

footer .pages-4-6 {
  display: flex;
  flex-direction: column;
}

footer .pages-4-6 p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 150%;
  color: #F6F6F6;
}

footer .pages-4-6 p a {
  text-decoration: none;
  color: #F6F6F6;
}

footer .pages-4-6 p :hover,
footer .pages-4-6 p :focus,
footer .pages-4-6 p :active {
  opacity: 0.75;
}

/*2 page-DIRECTIONS-STARTS*/
.subjects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.subjects h1 {
  margin: 5vw 0;
  text-transform: uppercase;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 4.8vw;
  line-height: 150%;
  color: #57463A;
}

.subjects .subjects__content {
  display: flex;
  flex-direction: column;
}

.subjects .subjects__content .subjects-1-4,
.subjects .subjects__content .subjects-5-8 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10vw;
}

.subjects .subjects__content img {
  width: 20vw;
  height: 20vw;
}

.subjects .subjects__content figcaption {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 102.99%;
  color: #323232;
}

/*3 page-OUR STAFF-STARTS*/
.team {
  margin: 50px 50px 0 50px;
}

.team h1 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 4.3vw;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #57463A;
}

.team p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  text-align: center;
  line-height: 150%;
  color: #323232;
  margin-bottom: 6vw;
}

.team .team__content {
  display: flex;
  flex-direction: column;
}

.team .team-1-3,
.team .team-4-6,
.team .team-7-9,
.team .team-10-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5vw;
}

.team img {
  width: 20vw;
  height: 20vw;
}

.team .teacher {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 150%;
  text-transform: uppercase;
  color: #323232;
}

.team .teacher__direction {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 150%;
  color: #323232;
  text-transform: uppercase;
}

/*4 page - PRICES STARTS*/
.price__details {
  margin: 8vw 0 0 2vw;
}

.price__details h1 {
  text-align: center;
  font-family: 'Tenor Sans';
  font-weight: 400;
  font-size: 4.3vw;
  line-height: 150%;
  color: #57463A;
  margin-bottom: 5vw;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
  padding: 0 5vw;
  margin-bottom: 3vw;
}

.price-fact {
  border: 1px solid #57463A;
  padding: 2vw;
  display: flex;
  justify-content: space-between;
}

.price-fact p {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1.3vw;
  color: #323232;
  text-transform: uppercase;
}


.lesson__info {
  padding: 6vw;
  margin-bottom: 6vw;
}

.lesson__info h2 {
  text-align: center;
  font-family: 'Tenor Sans';
  font-weight: 400;
  font-size: 3.6vw;
  color: #57463A;
  margin: 0 0 3vw;
}

.lesson {
  margin-bottom: 1.8vw;
}

.lesson h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.4vw;
  color: #323232;
  margin: 0 0 0.6vw;
}

.lesson p {
  font-weight: 'Open Sans';
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 150%;
  color: #323232;
  margin: 0;
}

/*5 -page CONTACTS STARTS*/
.contact__info {
  padding: 6vw 5vw;
}

.contact__info h1 {
  text-align: center;
  font-family: 'Tenor Sans';
  font-weight: 400;
  font-size: 3.6vw;
  color: #57463A;
  margin-bottom: 3vw;
}

.contact-details {
  margin-bottom: 1.8vw;
}

.contact-details h4 {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.4vw;
  color: #323232;
  margin: 0 0 0.5vw;
}

.contact-details p {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 150%;
  color: #323232;
}

.contact__info img {
  width: 40vw;
  height: 25vw;
  margin-top: 3vw;
  margin-left: 24vw;
  border: 4px solid #715B4B;
  border-radius: 2vw;
}